@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
    position: relative;
}

.animated-text:before {
    @apply text-black dark:text-white;
    content: "write code";
}

.animated-text:hover::before{
    @apply text-emerald-600 dark:text-emerald-200 ;
    content: "console.log(\"write code.\")";
    animation: infinite;
}

.animated-text:hover::after{
    @apply absolute border-l-2 border-emerald-600 dark:border-emerald-200 dark:bg-[#212529] bg-white;
    content: "";
    width: calc(100% + 8px);
    height: 120%;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(20) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,100%{
        content: "console.log(\"write code\")";
    }
}

@keyframes typing {
    5%,10%,15%,20%,30%,35%,40%,45%,50%,55%,60%,65%,70%,75%,80%,85%,90%,95%{
        width: 0;
    }
}

.wave-text span {
    display: inline-block;
    transition: transform 0.3s;
}

.wave-text:hover span {
    animation: wave 1.5s infinite;
}

.wave-text:hover span:nth-child(1) { animation-delay: 0s; @apply dark:text-[#ffadad] text-[#e3342f];}
.wave-text:hover span:nth-child(2) { animation-delay: 0.1s; @apply dark:text-[#ffd6a5] text-[#f6993f];}
.wave-text:hover span:nth-child(3) { animation-delay: 0.2s; @apply dark:text-[#fdffb6] text-[#ffed4a];}
.wave-text:hover span:nth-child(4) { animation-delay: 0.3s; @apply dark:text-[#caffbf] text-[#38c172]; }
.wave-text:hover span:nth-child(5) { animation-delay: 0.4s; @apply dark:text-[#9bf6ff] text-[#4dc0b5];  }
.wave-text:hover span:nth-child(6) { animation-delay: 0.5s; @apply dark:text-[#a0c4ff] text-[#3490dc];}
.wave-text:hover span:nth-child(7) { animation-delay: 0.6s; @apply dark:text-[#bdb2ff] text-[#6574cd];}
.wave-text:hover span:nth-child(8) { animation-delay: 0.7s; @apply dark:text-[#ffc6ff] text-[#9561e2];}
.wave-text:hover span:nth-child(9) { animation-delay: 0.8s; @apply dark:text-[#ff9ed7] text-[#f66d9b];}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


